version: "3"

services:
  huawei-solar:
    image: danwale/huaweifusionsolar2chargehq:latest
    restart: always
    environment:
      - HUAWEI__BASEURI=https://intl.fusionsolar.huawei.com/
      - HUAWEI__USERNAME= #insert the username Huawei have provided
      - HUAWEI__PASSWORD= #insert the system code/password Huawei have issued
      - HUAWEI__STATIONNAME= #insert the plant/station name here
      - HUAWEI__POLLRATE=5 #in minutes (Huawei have a limit of once every 5 minutes)
      - CHARGEHQ__APIKEY= #insert your ChargeHQ API Key here
      - SERILOG__MINIMUMLEVEL=Information
    volumes:
     - huaweisolar-conf:/etc/huaweisolar

volumes:
  huaweisolar-conf:
